@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


/* Layout adapted from Mike Freeman */
.fa-twitter {
	color:#55acee;
  -ms-transform: scaleX(-1); /* IE 9 */
  -webkit-transform: scaleX(-1); /* Chrome, Safari, Opera */
  transform: scaleX(-1);
}


body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background:rgba(245,248,250,1);
}

header {
	text-align: center;
	padding:10px;
	background:white;
	margin-bottom:10px;
	position:relative;
}

.logout {
	position:absolute;
	right:10px;
	top: 10px;
}

.chirppad {
	font-size: 1.8em;
}


.avatar, .image {
	max-width:50px;
	max-height:50px;
	border-radius: 50%;
}

.image {
	margin:10px;
	float:left;
}

li {
	padding-bottom:10px;
	margin-bottom:10px;
	margin-top:10px;
	border-bottom:1px solid #d3d3d3;
}


#tweet-input {
	margin-left:70px;
	margin-top:10px;
}

.time {
	color: #9d9d9d;
}

.handle {
	font-size:2em;
}

.tweet-box {
	border-bottom:1px solid #d3d3d3;
	padding:20px;
	margin-left:100px;
	margin-right:100px;
	background-color: white;
}

.send-tweet {
	text-align:right;
	margin-top:5px;
}

.tweet-box:hover{
	background-color:rgba(211, 211, 211, 0.27);
}

.likes {
	color:#adadad;
}

.write-tweet, .write-tweet:hover  {
	background-color: rgb(229, 242, 247);
}

.fa-heart {
	cursor: pointer;
}